// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom style for bootstrap navbar
@import 'custom-navbar';

.app-form >div {
  margin-top: 1em;
}

.padding{
  padding: 1em;
}

.actions{
  margin-top: 1em;
}

.text-center .pagination{
  justify-content: center;
}

.payments{
  img{
    margin-bottom: 30px;
    display: block;
  }
}


.imgshow{
  display: block;
  width: 350px;
  height: 350px;
}

.imgcard{
  display: block;
  width: 310px;
  height: 310px;
}
.card-text{
  font-size: 18px;
}

.text-center .pagination{
  justify-content: center;
}

.total{
  margin-top: 2em;
  padding-top: 2em;
  margin-bottom: 2em;
  border-top: solid 1px #eee;

  strong{
      text-transform: uppercase;
    }
}
